.phone-frame {
    width: 320px;
    height: 640px;
    border: 16px solid black;
    border-radius: 32px;
    margin: 50px auto;
    overflow: hidden;
    background-image: url('https://i.redd.it/ehhvzjdx1s091.jpg');
    background-size: 110%;
    background-position: center 10%;
}

.weather-app {
    padding: 20px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
}

.location-name {
    font-size: 24px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.current-temp {
    font-size: 48px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.weather-condition {
    font-size: 18px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
